@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("/fonts/opensans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/OpenSans-SemiBold.woff2") format("woff2"), url("/fonts/opensans/OpenSans-SemiBold.woff") format("woff"), url("/fonts/opensans/OpenSans-SemiBold.ttf") format("truetype"), url("/fonts/opensans/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/fonts/opensans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/OpenSans-Regular.woff2") format("woff2"), url("/fonts/opensans/OpenSans-Regular.woff") format("woff"), url("/fonts/opensans/OpenSans-Regular.ttf") format("truetype"), url("/fonts/opensans/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("/fonts/opensans/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/OpenSans-ExtraBold.woff2") format("woff2"), url("/fonts/opensans/OpenSans-ExtraBold.woff") format("woff"), url("/fonts/opensans/OpenSans-ExtraBold.ttf") format("truetype"), url("/fonts/opensans/OpenSans-ExtraBold.svg#OpenSans-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/fonts/opensans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/OpenSans-Italic.woff2") format("woff2"), url("/fonts/opensans/OpenSans-Italic.woff") format("woff"), url("/fonts/opensans/OpenSans-Italic.ttf") format("truetype"), url("/fonts/opensans/OpenSans-Italic.svg#OpenSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/fonts/opensans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/OpenSans-Bold.woff2") format("woff2"), url("/fonts/opensans/OpenSans-Bold.woff") format("woff"), url("/fonts/opensans/OpenSans-Bold.ttf") format("truetype"), url("/fonts/opensans/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-Medium.eot");
  src: local("Open Sans Medium"), local("OpenSans-Medium"), url("/fonts/opensans/OpenSans-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/OpenSans-Medium.woff2") format("woff2"), url("/fonts/opensans/OpenSans-Medium.woff") format("woff"), url("/fonts/opensans/OpenSans-Medium.ttf") format("truetype"), url("/fonts/opensans/OpenSans-Medium.svg#OpenSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"), url("/fonts/opensans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/OpenSans-Light.woff2") format("woff2"), url("/fonts/opensans/OpenSans-Light.woff") format("woff"), url("/fonts/opensans/OpenSans-Light.ttf") format("truetype"), url("/fonts/opensans/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("/fonts/opensans/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("/fonts/opensans/OpenSans-ExtraBoldItalic.woff") format("woff"), url("/fonts/opensans/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("/fonts/opensans/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("/fonts/opensans/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/OpenSans-LightItalic.woff2") format("woff2"), url("/fonts/opensans/OpenSans-LightItalic.woff") format("woff"), url("/fonts/opensans/OpenSans-LightItalic.ttf") format("truetype"), url("/fonts/opensans/OpenSans-LightItalic.svg#OpenSans-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-MediumItalic.eot");
  src: local("Open Sans Medium Italic"), local("OpenSans-MediumItalic"), url("/fonts/opensans/OpenSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/OpenSans-MediumItalic.woff2") format("woff2"), url("/fonts/opensans/OpenSans-MediumItalic.woff") format("woff"), url("/fonts/opensans/OpenSans-MediumItalic.ttf") format("truetype"), url("/fonts/opensans/OpenSans-MediumItalic.svg#OpenSans-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("/fonts/opensans/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/OpenSans-BoldItalic.woff2") format("woff2"), url("/fonts/opensans/OpenSans-BoldItalic.woff") format("woff"), url("/fonts/opensans/OpenSans-BoldItalic.ttf") format("truetype"), url("/fonts/opensans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("/fonts/opensans/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/opensans/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("/fonts/opensans/OpenSans-SemiBoldItalic.woff") format("woff"), url("/fonts/opensans/OpenSans-SemiBoldItalic.ttf") format("truetype"), url("/fonts/opensans/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
html,
body {
  background-color: #e7d6c6;
  color: #111111;
}

.color-light {
  color: #f0f0f0;
}

.accent-color-moss-green {
  color: #869948;
}
.accent-color-moss-green button.btn {
  background-color: #869948;
  color: #f0f0f0;
}

.accent-color-flame {
  color: #DF5916;
}
.accent-color-flame button.btn {
  background-color: #DF5916;
  color: #f0f0f0;
}

.accent-color-french-bistre {
  color: #7A6C5D;
}
.accent-color-french-bistre button.btn {
  background-color: #7A6C5D;
  color: #f0f0f0;
}

.accent-color-venetian-red {
  color: #BF211E;
}
.accent-color-venetian-red button.btn {
  background-color: #BF211E;
  color: #f0f0f0;
}

.accent-color-orange-yellow {
  color: #ECB709;
}
.accent-color-orange-yellow button.btn {
  background-color: #ECB709;
  color: #111111;
}

.accent-color-liver-chestnut {
  color: #94684C;
}
.accent-color-liver-chestnut button.btn {
  background-color: #94684C;
  color: #f0f0f0;
}

.accent-color-apple-green {
  color: #88AC35;
}
.accent-color-apple-green button.btn {
  background-color: #88AC35;
  color: #111111;
}

.accent-color-safety-yellow {
  color: #E9CE2C;
}
.accent-color-safety-yellow button.btn {
  background-color: #E9CE2C;
  color: #111111;
}

.bg-color-light {
  background-color: #f0f0f0;
}

.bg-accent-color-moss-green {
  background-color: #869948;
  color: #f0f0f0;
}
.bg-accent-color-moss-green button.btn {
  background-color: #f0f0f0;
  color: #869948;
}

.bg-accent-color-flame {
  background-color: #DF5916;
  color: #f0f0f0;
}
.bg-accent-color-flame button.btn {
  background-color: #f0f0f0;
  color: #DF5916;
}

.bg-accent-color-french-bistre {
  background-color: #7A6C5D;
  color: #f0f0f0;
}
.bg-accent-color-french-bistre button.btn {
  background-color: #f0f0f0;
  color: #7A6C5D;
}

.bg-accent-color-venetian-red {
  background-color: #BF211E !important;
  color: #f0f0f0 !important;
}
.bg-accent-color-venetian-red button.btn {
  background-color: #f0f0f0 !important;
  color: #BF211E !important;
}

.bg-accent-color-orange-yellow {
  background-color: #ECB709;
  color: #111111;
}
.bg-accent-color-orange-yellow button.btn {
  background-color: #f0f0f0;
  color: #111111;
}

.bg-accent-color-liver-chestnut {
  background-color: #94684C;
  color: #f0f0f0;
}
.bg-accent-color-liver-chestnut button.btn {
  background-color: #f0f0f0;
  color: #111111;
}

.bg-accent-color-apple-green {
  background-color: #88AC35;
  color: #111111;
}
.bg-accent-color-apple-green button.btn {
  background-color: #f0f0f0;
  color: #111111;
}

.bg-accent-color-safety-yellow {
  background-color: #E9CE2C;
  color: #111111;
}
.bg-accent-color-safety-yellow button.btn {
  background-color: #f0f0f0;
  color: #111111;
}

.gbv {
  background-color: #869948 !important;
}

.rubi {
  background-color: #5B4899 !important;
  color: #f0f0f0;
}
.rubi button.close {
  color: #f0f0f0;
}
.rubi button.close:hover {
  color: #f0f0f0;
}

.eh {
  background-color: #99485D !important;
}

.bt {
  background-color: #489984 !important;
}

.yoga {
  background-color: #ff00ff !important;
}

.bp {
  background-color: #485099 !important;
  color: #f0f0f0;
}
.bp button.close {
  color: #f0f0f0;
}
.bp button.close:hover {
  color: #f0f0f0;
}

.other {
  background-color: #509948 !important;
}

* {
  overflow: unset;
  scrollbar-width: thin;
  font-family: "Open Sans", sans-serif !important;
}

img,
video,
canvas {
  overflow: auto !important;
}

body {
  position: relative;
}

.hidden {
  display: none;
}

.navbar-img {
  height: 2em;
  width: 2em;
}

.navbar-toggler-right {
  float: right !important;
}

.navbar {
  background-color: rgba(225, 208, 192, 0);
}
.navbar .navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.75) !important;
}
.navbar .navbar-light .navbar-nav .nav-link .active {
  color: rgb(0, 0, 0) !important;
}

.nav-link {
  color: rgba(0, 0, 0, 0.75);
}
.nav-link:hover {
  color: rgba(0, 0, 0, 0.85) !important;
}
.nav-link:focus {
  color: rgba(0, 0, 0, 0.85) !important;
}

.active {
  color: rgb(0, 0, 0) !important;
  font-weight: 600 !important;
}

/*.z-index-2 {
    z-index: 2;
}*/
.footerlink {
  text-decoration: none;
  color: #f0f0f0 !important;
}
.footerlink:hover {
  color: #d3d3d3 !important;
  text-decoration: underline !important;
}

section {
  margin-top: 2em;
}

.standard {
  margin: 0em 0em 0em 0em;
  padding-top: 1.75em;
  padding-bottom: 1.75em;
}
.standard .container h1 {
  margin-bottom: 0.5em;
}
.standard .container h2 {
  margin-bottom: 0.25em;
}
.standard .container h3 {
  margin-bottom: 0.25em;
}

.midwife-img-container {
  margin-bottom: 1em !important;
}
@media screen and (max-width: 600px) {
  .midwife-img-container {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .midwife-img-container .midwife-img {
    width: 98%;
  }
}
@media screen and (min-width: 601px) {
  .midwife-img-container .midwife-img {
    width: 50%;
  }
}
@media screen and (min-width: 601px) and (max-width: 767px) {
  .midwife-img-container .midwife-img {
    width: 75%;
  }
}

#home {
  margin-top: -66px;
  position: static;
  top: 0px;
  left: 0px;
  right: 0px;
}

div.cn {
  position: relative;
  width: 100%;
  height: 50vh;
}
@media screen and (max-height: 555px) {
  div.cn {
    margin-top: 3.25rem;
  }
}

div.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
}

#home {
  overflow-x: hidden;
  background-color: #e7d6c6;
  margin-bottom: 0em;
}
#home .percent-100 {
  width: 100%;
  height: 100%;
}
@media (orientation: landscape) {
  #home .percent-100 .container {
    padding-top: 10em;
  }
}

#home {
  height: 100vh;
}
#home h1 {
  font-weight: 600;
}
#home p {
  font-weight: 600;
}

.bg-baby-image {
  background-image: url(../img/feet-dreamy-child-enveloped-woolen-scarf.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}
@supports (background-image: url("../img/feet-dreamy-child-enveloped-woolen-scarf.webp")) {
  .bg-baby-image {
    background-image: url("../img/feet-dreamy-child-enveloped-woolen-scarf.webp");
  }
}

div.cn {
  position: relative;
  width: 100%;
  height: 100vh;
}

div.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
}

@media (orientation: landscape) {
  #error-404 {
    margin-top: -66px;
  }
}
@media screen and (max-width: 766px) {
  #error-404 {
    margin-top: 0px;
  }
}
@media screen and (min-width: 767px) and (max-height: 520px) {
  #error-404 {
    margin-top: 0px;
  }
}

div.cn {
  position: relative;
  width: 100%;
  height: 50vh;
}

div.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
}

.navbar-404 {
  background-color: rgba(191, 33, 30, 0);
}
.navbar-404 .nav-link {
  color: #f0f0f0 !important;
}

.bg-404 {
  background-color: #BF211E !important;
  color: #f0f0f0 !important;
}

#error-404-home {
  overflow-x: hidden;
  background-color: #BF211E !important;
  color: #f0f0f0 !important;
  height: 50vh;
}
#error-404-home .percent-100 {
  width: 100%;
  height: 100%;
}
@media (orientation: landscape) {
  #error-404-home .percent-100 .container {
    padding-top: 10em;
  }
}
@media (orientation: portrait) {
  #error-404-home .percent-100 .container {
    padding-top: 4em;
  }
}

.width-5em {
  width: 5em !important;
}

@media screen and (min-width: 768px) {
  #kontakt-sprechzeiten .row .right-text {
    text-align: right !important;
  }
}

form {
  margin-bottom: 2em;
}
form input.invalid,
form textarea.invalid {
  border: 2px solid red;
}
form .error-hint {
  color: red;
}
form button.btn {
  margin-top: 1em;
}

.thank-you {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2.5em;
}

.error-message {
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 2.5em;
}

footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: hsl(34, 7%, 20%) !important;
  color: #f0f0f0;
}
footer a {
  text-decoration: none;
}

.termine-column {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.termine-card {
  max-width: 100%;
  min-height: 17rem;
}
@media screen and (max-width: 767px) {
  .termine-card {
    margin-top: 1.5em;
  }
}
@media screen and (max-width: 1200px) {
  .termine-card {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
    min-width: -moz-min-content;
    min-width: min-content;
  }
}

.termine-line {
  margin-top: 0.75em !important;
}

.btn-local {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}
.btn-local:hover {
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  text-decoration: underline;
}

.courses-list {
  margin-bottom: 5px;
}
.courses-list .card-header {
  background-color: #869948;
  font-size: 1.5em;
}
.courses-list .card-body {
  background-color: #f0f0f0;
}
.courses-list .card-footer {
  background-color: #869948;
}

.team-member .card-body {
  background-color: #f0f0f0;
}

.full-course:hover {
  cursor: not-allowed !important;
}

.card-wrapper {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.browsehappy {
  color: white;
  background-color: red;
  font-weight: 900;
  font-size: xx-large;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.termine-descript {
  margin-left: 0.5rem;
}

.iebanner {
  display: none;
}

.ie .iebanner {
  display: block;
}

.faq-card-header {
  background-color: #88AC35;
  font-size: 1.5em;
}

.faq-card-body {
  background-color: #e7d6c6;
}
.faq-card-body p {
  margin-bottom: 0;
}/*# sourceMappingURL=styles.css.map */