backend/conf/conf.php
phpinfo.php
sitemap-index.xml
sitemap.xml
.vscode/settings.json
backend/conf/sql/default-insert.sql
.htaccess
en/index.html
/mydashboard/
*.code-workspace

/backend/uploads/*.jpg
backend/conf/conf-live.php
API/API-key altenbeckundkollegin.txt
API/example.json
API/example-kurs-details.json
API/example-kurs-list.json
backend/conf/sql/hebamme-web-data.sql
backend/conf/sql/hebamme-web-dump.sql
backend/exceptions/conf.php
