/////////////////////////////////////////////
////////////////// COLORS ///////////////////
/////////////////////////////////////////////
$color_1: #333;
$color_2: #888;
$color_3: #856404;
$color_4: green;
$color_5: red;
$background-color_1: #fff3cd;
$border-color_1: #ff0000;
/////////////////////////////////////////////
////////////////// STYLES ///////////////////
/////////////////////////////////////////////
input {
    &:invalid {
        border-color: $border-color_1;
    }
}

.hidden {
    display: none;
}

.text-center {
    text-align: center !important;
}

#login-form-wrapper {
    margin: auto;
}

#logout-link {
    cursor: default;
}

#imagewrapper {
    width: 190px;
    height: auto;
    border: 1px inset black;
    padding: 2px;
    margin: 1px;
}

.sidebar {
    position: fixed;
    top: 25px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    .nav-link {
        font-weight: 500;
        color: $color_1;
        cursor: default;
        &:hover {
            font-weight: 600;
        }
    }
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.dialog-form-label {
    display: block;
}

.subdued {
    font-size: 0.75em;
    color: $color_2;
}

.see-me {
    background-color: $background-color_1;
    color: $color_3;
    text-transform: uppercase;
    display: block;
    font-size: 0.75em;
}

.linkchar {
    display: inline-block;
    padding: 1px;
    &:hover {
        padding: 1px;
        border: 1px solid #888;
    }
}

.thumbnail-wrapper {
    width: 50px;
    height: auto;
}

.checkmark {
    color: $color_4;
}

.nocheck {
    color: $color_5;
}

.levelcellentry {
    padding: 2px;
    display: block;
    text-align: center;
}

.levelSelect{
    min-width: 5rem;
    padding: 4px;
    display: inline-block;
    text-align: center;
    border-width: 2px;
}

.erroredFormControl{
    border: 2px solid red;
}

table
{
    width: 100%;
    margin: 1rem;
}

button {
    margin-top: 2rem;
}