.hidden {
  display: none;
}

.text-center {
  text-align: center !important;
}

#login-form-wrapper {
  margin: auto;
}

#sidebar {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
