.hidden {
  display: none;
}

.text-center {
  text-align: center !important;
}

#login-form-wrapper {
  margin: auto;
}

#logout-link {
  cursor: default;
}

.sidebar {
  position: fixed;
  top: 25px;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  cursor: default;
}

.sidebar .nav-link:hover {
  font-weight: 600;
}

.dialog-form-label {
  display: block;
}

.subdued {
  font-size: 0.75em;
  color: #888;
}

.see-me {
  background-color: #fff3cd;
  color: #856404;
  text-transform: uppercase;
  display: block;
  font-size: 0.75em;
}

.linkchar {
  display: inline-block;
  padding: 1px;
}

.linkchar:hover {
  padding: 1px;
  border: 1px solid #888;
}

.thumbnail-wrapper {
  width: 50px;
  height: auto;
}
